*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    background: url(../img/cover.jpg) no-repeat;
    background-size: cover;
}

/* image qui vibre (like a bug) pour les tasses*/

@keyframes tremblement{
    0% { transform: skewX(-2deg); }
    5% { transform: skewX(2deg); }
    10% { transform: skewX(-2deg); }
    15% { transform: skewX(2deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
}

#bar {
    margin-left: 5px;
    width: 250px;
    height: 24px;
    padding: 4px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}
#bar-inside{
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    -webkit-transition: 2s time;
    -moz-transition: 2s time;
    -ms-transition: 2s time;
    -o-transition: 2s time;
    transition: 2s time;
    height: 24px;
    background: #FF5049;
    border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.LCD{
    width: 17rem;
    height: 20rem;
    background: #000000;
    opacity: 0.8;
    z-index: 10;
    position: absolute;
    display: block;
    margin-left: 77%;
    margin-top: 8%;
    border: 2px solid #ffffff;
}

.LCD p{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    z-index: 10;
}


.sucre{
    width: 17rem;
    height: 7rem;
    background: #000000;
    opacity: 0.8;
    z-index: 10;
    position: absolute;
    display: block;
    margin-left: 77%;
    margin-top: 34%;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}

.cercles{
    position: absolute;
    height: 50px;
}

#cercle1 {
    margin-left: 10px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #ffffff;
}

#cercle2 {
    margin-bottom: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #ffffff;
}

#cercle3 {
    margin-bottom: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #ffffff;
}

#cercle4 {
    margin-bottom: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #ffffff;
}

#cercle5 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #ffffff;
}

.container{
    max-width: 50rem;
    padding-top: 8%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cofee1, .cofee2, .cofee3, .cofee4, .cofee5, .cofee6{
    background: #000000;
    width: 18rem;
    height: 5rem;
    opacity: 0.8;
    border: 2px solid #ffffff;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 0;
}
.cofee6{
    border: 2px solid #ffffff;
}

.cofee1:hover, .cofee2:hover, .cofee3:hover, .cofee4:hover, .cofee5:hover, .cofee6:hover{
    color: #CF9F47;
    border: 2px solid #CF9F47;
}

.cofee1{
    z-index: 10;
    grid-column: 1;
    grid-row: 1;
}
.cofee2{
    z-index: 10;
    grid-column: 1;
    grid-row: 2;
}

.cofee3{
    z-index: 10;
    grid-column: 1;
    grid-row: 3;
}

.cofee4{
    z-index: 10;
    grid-column: 1;
    grid-row: 4;
}

.cofee5{
    z-index: 10;
    grid-column: 1;
    grid-row: 5;
}
.cofee6{
    z-index: 10;
    grid-column: 1;
    grid-row: 6;
}

#chocolat, #expresso, #lait, #the, #long, #cappuccino{
    display: none;
}
#cont-img{
    width: 20%;
}
.img-tasse{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    display: none;
    width: 200px;
}
#chocolat, #expresso, #lait, #the, #long, #cappuccino{
    animation: 0.8s tremblement alternate infinite;
    margin-left: -100px;
}